<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand" (click)="toggleSidebar()">
      <i class="a-icon8083 iconx2" *ngIf="isCollapsed"></i>
      <i class="a-icon8084 iconx2" *ngIf="!isCollapsed"></i>
    </span>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      id="navbarContent"
    >
      <ul class="navbar-nav ms-auto">
        <li
          class="nav-item"
          ngbDropdown
          display="dynamic"
          placement="bottom-end"
        >
          <a
            class="nav-link"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown3"
            role="button"
          >
            John MF Doe
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdown3"
            class="dropdown-menu"
          >
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
              >Cerrar Sesión</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
